.skeletonCard {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skeletonImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.mainBlock {
    padding: 30px 0;
}

.mainBlock>h1 {
    color: var(--dark-text-color);
    margin-bottom: 30px;
    text-transform: capitalize;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.innerCard {
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.productBrand {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light-text-color);
    color: var(--white-color);
    padding: 3px 10px;
}

.favoriteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.innerCard>img {
    width: 100%;
}

.productTitle,
.productDesc {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.productTitle {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.productDesc {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    color: var(--dark-text-color);
}

.productDesc:hover {
    color: var(--light-text-color);
}

.productRating {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    margin: 15px 0;
}

.ratingFlex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: var(--bg-btn-color);
    color: var(--white-color);
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn>span {
    font-size: 14px;
}